<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Cultivate - Unearthing Communities</title>

  <link rel="stylesheet" href="//cloud.typography.com/610186/608328/css/fonts.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">

</head>

<body>

  <header class="main-header">
    <div class="subtitle">Unearthing Community Leaders</div>
    <h1>Cultivate</h1>

    <img src="{{ url_for('static', filename='images/cultguy.svg') }}" alt="" class="cult-guy cult-guy-1">
    <img src="{{ url_for('static', filename='images/cultguy.svg') }}" alt="" class="cult-guy cult-guy-2">
    <img src="{{ url_for('static', filename='images/cultguy.svg') }}" alt="" class="cult-guy cult-guy-3">
  </header>

  {% block content %}
  {% endblock content %}

  <svg viewBox="0 0 550 400" preserveAspectRatio="xMidYMax meet" class="grow-grow-grow">
    <g id="stems" fill="none" stroke="green"></g>
    <g id="leaves"></g>
  </svg>

  <script src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/lodash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/TweenMax.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/DrawSVGPlugin.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/growth.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

</body>

</html>

