{% extends 'base.html' %}

{% block content %}

<main class="main-content">

  <form class="main-search-form" id="main-search-form">

    <div class="city-search-area">
      <label for="city">
        Search keyword(s) for your <strong>larger</strong> community
      </label>

      <input type="text" class="input-keywords" name="term[]" placeholder="theskimm.com">
    </div>
    <div class="search-terms-area">
      <label for="">
        <strong>Narrow</strong> by location
      </label>
      <input type="text" id="city" name="city" class="input-city" placeholder="Austin, TX">
    </div>

    <input type="submit" value="Dig Them Up!" class="mega-submit" id="submit">

  </form>

  <div class="results" id="results">

    <div class="results-list">
      <div class="success">
        <h2>You Reap What You Sew</h2>
        <ul id="the-people"></ul>
      </div>
      <div class="error"></div>
    </div>

  </div>

</main>

<!-- {{ content }} -->

<script type="text/template" id="results-tmpl">
  <% _.each(users, function(user, idx) { %>
  <li>
    <div class="avatar-wrap">
      <img src="<%= user.profile_image_url %>" alt="<% user.name %>" />
    </div>
    <div class="user-info">
      <h4><%= user.name %></h4>
      <div class="bio"><%= user.description %></div>
      <ul class="links">
        <li>
          <a href="https://twitter.com/<%= user.screen_name %>">@<%= user.screen_name %></a>
        </li>
      </ul>
    </div>
    <div class="score-wrap">
      <div class="score">
        <%= user.score %>
      </div>
    </div>
  </li>
  <% }) %>
</script>

{% endblock %}
